.off-canvas-wrap, .inner-wrap {
    min-height: 100%;
}

.off-canvas-wrap {
    height: 100%;
    overflow-y: auto;
}

.plus-minus {
    cursor: pointer;
    font-family: "Courier New", courier, monospace;
}

.plus-minus:hover {
    color: grey;
}