{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/foundation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/app.css' %}">
    <script src="{% static 'main/js/vendor/modernizr.js' %}"></script>
    <script src="{% static 'main/js/vendor/jquery.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
<div id="off_canvas_wrap" class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a id="menu_button" class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>
            <section class="middle tab-bar-section">
                <h1 class="title">{% block page_name %}{% endblock %}</h1>
            </section>
        </nav>

        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label>Комнаты</label></li>
                {% for room in rooms %}
                <li><a href="{% url 'room_detail' room.id %}">{{ room.name }}</a></li>
                {% endfor %}
            </ul>
            <ul class="off-canvas-list">
                <li><label>Другое</label></li>
                <li><a href="{% url 'graphics' %}">Графики</a></li>
                <li><a href="{% url 'scenarios' %}">Сценарии</a></li>
                <li><a href="{% url 'index' %}">На главную</a></li>
                <li><a href="{% url 'notifications' %}">Оповещения</a></li>
            </ul>
            <ul class="off-canvas-list">
                <li><label>Настройки</label></li>
                <li><a href="{% url 'settings_index' %}">Главная</a></li>
            </ul>
        </aside>

        <section class="main-section">
            <br>
            {% block content %}{% endblock %}
        </section>

        <a class="exit-off-canvas"></a>
    </div>
</div>

<script src="{% static 'main/js/foundation.min.js' %}"></script>
<script src="{% static 'main/js/foundation/foundation.offcanvas.js' %}"></script>
<script src="{% static 'main/js/foundation/foundation.dropdown.js' %}"></script>
<script src="{% static 'main/js/jquery.touchSwipe.min.js' %}"></script>
<script>
$(function() {
    $("html").swipe( {
        swipeRight:function(event, direction, distance, duration, fingerCount) {
            if (!$('#off_canvas_wrap').hasClass('move-right')) {
                $('#menu_button').click();
            }
        },
        swipeLeft:function(event, direction, distance, duration, fingerCount) {
            if ($('#off_canvas_wrap').hasClass('move-right')) {
                $('#menu_button').click();
            }
        },
        threshold:0
      });
    });
</script>
<script>
    $(document).foundation();
</script>
</body>
</html>