{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <script src="{% static 'main/js/jquery-2.1.3.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/graphics.css' %}" />
    <script src="{% static 'main/js/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'main/js/flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'main/js/graphics.js' %}"></script>
{% endblock %}
{% block page_name %}Графики{% endblock %}
{% block content %}
<div class="row">
    <form name="graphicsForm" action="{% url 'graphics' %}" method="POST">
        {% csrf_token %}
        <div class="row" style="margin-left: 4px; margin-right: 4px;">

            <div class="large-6 medium-4 small-12 columns">
                <label>Название графика<input name="graphic_name" type="text"></label>
            </div>

            <div class="large-3 medium-4 small-6 columns">
                <label>По оси Y
                    <select name="axis_y">
                        {% for key, value in choices.items %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>

            <div class="large-3 medium-4 small-6 columns">
                <label>По оси X
                    <select name="axis_x">
                        {% for key, value in choices.items %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
        <div class="row" style="margin-top: 10px; margin-left: 5px;">

            <div class="small-12 medium-8 large-6 columns">
               <label>Выберите период
            </label>
                <input id="type1" name="type" type="radio" value="day"><label for="type1">За сутки</label>
                <input id="type2" name="type" type="radio" value="all"><label for="type2">За все время</label>
            </div>
        </div>
    </form>
    <div style="margin-top: 10px; margin-left: 5px; background-color: #333333" role="button" onclick="submit_form()" tabindex="0" class="button tiny">Добавить график</div>
</div>

<form id="deleteGraphicForm" action="{% url 'graphic_delete' %}" method="POST">
    {% csrf_token %}
    <input id="delete_graphic" type="hidden" value="" name="delete">
</form>

{% for graphic in graphics %}
<div class="row">
    <div style="text-align: center" class="panel">
        <a style="float: right;" onclick="delete_graphic({{ graphic.id }})">Удалить</a>
        <h4 style="color: darkred;;">{{ graphic.name }}</h4>
        <div class="graphics" data-type="{{ graphic.type }}" data-axis-x="{{ graphic.axis_x }}" data-axis-y="{{ graphic.axis_y }}" id="placeholder{{ forloop.counter }}"></div>
    </div>
</div>
{% endfor %}

<script type="text/javascript">
var graphics = document.getElementsByClassName("graphics");
var x = window.innerWidth,
    y;
if (x < 600) {
    x -= 60
} else if (x > 599 && x < 1024) {
    x -= 100
} else if (x > 1023 && x < 1600) {
    x = x/2 + 250;
} else {
    x = x/2 - 80;
}
y = x/2;
for (var z = 0; z < graphics.length; ++z) {
    graphics[z].style.width = x + "px";
    graphics[z].style.height = y + "px";
}

var graphics_data = {{ graphics_data }};

for (var j = 0; j < graphics_data.length; ++j) {
    graphics_data[j][0] = new Date(graphics_data[j][0]*1000);
}
var all_data;

var plot_conf1 = {
        series: {
            lines: {
                show: true,
                lineWidth: 2
            }
        },
        xaxis: {
            mode: "time",
            timeformat: "%m/%d"
        }
    };

var plot_conf2 = {
        series: {
            lines: {
                show: true,
                lineWidth: 2
            }
        },
        xaxis: {
            mode: "time",
            timeformat: "%H:%M"
        }
    };
for (var i=0; i < graphics.length; ++i) {
    if (graphics[i].dataset.axisX == "DT") {
        if (graphics[i].dataset.axisY == "HM") {
            all_data = [
                {data: magic_with_data(graphics_data, 1)}
            ];
        } else if (graphics[i].dataset.axisY == "TM") {
            all_data = [
                {data: magic_with_data(graphics_data, 2)}
            ];
        }
    } else if (graphics[i].dataset.axisX == "HM") {
        if (graphics[i].dataset.axisY == "DT") {
            all_data = [
                {data: magic_with_data(graphics_data, 1)}
            ];
        } else if (graphics[i].dataset.axisY == "TM") {
            all_data = [
                {data: magic_with_data(graphics_data, 2)}
            ];
        }
    } else if (graphics[i].dataset.axisX == "TM") {
        if (graphics[i].dataset.axisY == "DT") {
            all_data = [
                {data: magic_with_data(graphics_data, 2)}
            ];
        } else if (graphics[i].dataset.axisY == "HM") {
            all_data = [
                {data: magic_with_data(graphics_data, 2)}
            ];
        }
    }
    if (graphics[i].dataset.type == "all") {
        jQuery.plot(jQuery("#placeholder"+ (i+1)), all_data, plot_conf1);
    } else {
        if (all_data.length > 24) {
            jQuery.plot(jQuery("#placeholder"+ (i+1)), all_data, plot_conf2);
        } else {
            jQuery.plot(jQuery("#placeholder"+ (i+1)), all_data.slice(all_data.length-24), plot_conf2);
        }
    }

}
</script>

{% endblock %}