{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/graphics.css' %}" />
    <script src="{% static 'main/js/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'main/js/flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'main/js/graphics.js' %}"></script>
    <script src="{% static 'main/js/ajax.js' %}"></script>
{% endblock %}
{% block page_name %}Главная{% endblock %}
{% block content %}

<div class="row">
    {% if main_widgets %}
        <div class="row">
            {% for widget in main_widgets %}
                {% if widget.name == 'light_control' %}
                    <div class="small-12 medium-12 large-12 columns">
                        <button style="background-color: #333333; margin-left: 10px" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Управление всем светом</button><br>
                        <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
                            <li><a onclick="send_light('1')">Включить везде</a></li>
                            <li><a onclick="send_light('2')">Выключить везде</a></li>
                            <li><a onclick="send_light('3')">По датчикам</a></li>
                        </ul>
                        <form id="form1" action="{% url 'index' %}" method="POST">
                            {% csrf_token %}
                            <label><input value=2 name="action" type="hidden"></label>
                        </form>
                        <form id="form2" action="{% url 'index' %}" method="POST">
                            {% csrf_token %}
                            <label><input value=0 name="action" type="hidden"></label>
                        </form>
                        <form id="form3" action="{% url 'index' %}" method="POST">
                            {% csrf_token %}
                            <label><input value=1 name="action" type="hidden"></label>
                        </form>
                        <script>
                            function send_light(x) {
                                document.forms["form" + x].submit();
                            }
                        </script>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

</div>
    <div id="ajax_data">
        {% include "index_ajax.html" %}
    </div>

    <form id="button-form" action="{% url 'index' %}" method="post">
        {% csrf_token %}
    </form>

    <form id="floor-form1" action="{% url 'index' %}" method="post">
        {% csrf_token %}
    </form>

    <form name="changeForm" action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <input id="scenario_change" type="hidden" name="scenario_change" value="">
    </form>
    {% if graphics %}
        {% for graphic in graphics %}
        <div class="row">
            <div style="text-align: center" class="panel">
                <h4 style="color: darkred;;">{{ graphic.name }}</h4>
                <div class="graphics" data-type="{{ graphic.type }}" data-axis-x="{{ graphic.axis_x }}" data-axis-y="{{ graphic.axis_y }}" id="placeholder{{ forloop.counter }}"></div>
            </div>
        </div>
        {% endfor %}
        <script type="text/javascript">
        var graphics = document.getElementsByClassName("graphics");
        var x = window.innerWidth,
            y;
        if (x < 600) {
            x -= 60
        } else if (x > 599 && x < 1024) {
            x -= 100
        } else if (x > 1023 && x < 1600) {
            x = x/2 + 250;
        } else {
            x = x/2 - 80;
        }
        y = x/2;
        for (var z = 0; z < graphics.length; ++z) {
            graphics[z].style.width = x + "px";
            graphics[z].style.height = y + "px";
        }

        var graphics_data = {{ graphics_data }};

        for (var j = 0; j < graphics_data.length; ++j) {
            graphics_data[j][0] = new Date(graphics_data[j][0]*1000);
        }
        var all_data;

        var plot_conf1 = {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 2
                    }
                },
                xaxis: {
                    mode: "time",
                    timeformat: "%m/%d"
                }
            };

        var plot_conf2 = {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 2
                    }
                },
                xaxis: {
                    mode: "time",
                    timeformat: "%H:%M"
                }
            };
        for (var i=0; i < graphics.length; ++i) {
            if (graphics[i].dataset.axisX == "DT") {
                if (graphics[i].dataset.axisY == "HM") {
                    all_data = [
                        {data: magic_with_data(graphics_data, 1)}
                    ];
                } else if (graphics[i].dataset.axisY == "TM") {
                    all_data = [
                        {data: magic_with_data(graphics_data, 2)}
                    ];
                }
            } else if (graphics[i].dataset.axisX == "HM") {
                if (graphics[i].dataset.axisY == "DT") {
                    all_data = [
                        {data: magic_with_data(graphics_data, 1)}
                    ];
                } else if (graphics[i].dataset.axisY == "TM") {
                    all_data = [
                        {data: magic_with_data(graphics_data, 2)}
                    ];
                }
            } else if (graphics[i].dataset.axisX == "TM") {
                if (graphics[i].dataset.axisY == "DT") {
                    all_data = [
                        {data: magic_with_data(graphics_data, 2)}
                    ];
                } else if (graphics[i].dataset.axisY == "HM") {
                    all_data = [
                        {data: magic_with_data(graphics_data, 2)}
                    ];
                }
            }
            if (graphics[i].dataset.type == "all") {
                jQuery.plot(jQuery("#placeholder"+ (i+1)), all_data, plot_conf1);
            } else {
                if (all_data.length > 24) {
                    jQuery.plot(jQuery("#placeholder"+ (i+1)), all_data, plot_conf2);
                } else {
                    jQuery.plot(jQuery("#placeholder"+ (i+1)), all_data.slice(all_data.length-24), plot_conf2);
                }
            }

        }
        </script>
    {% endif %}
{% endblock %}
