{% load staticfiles %}
{% if out_sensor %}
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <div class="panel">
            {% for value in out_sensor %}
                <h5>Внешняя температура <span style="color: darkred">{{ value.temperature_out }}&deg;C</span>, влажность <span style="color: darkred">{{ value.humidity_out }}hm</span>.</h5>
            {% endfor %}
            </div>
        </div>
    </div>
{% endif %}


    <form id="main-form" action="{% url 'index' %}" method="post">
    {% csrf_token %}
    {% if dht %}
        {% for sensor in dht %}
            <div class="row">
                <div class="small-6 medium-6 large-6 columns">{{ sensor.room_key.name }}<div class="panel"><p>Влажность: {{ sensor.humidity }} hm </p></div></div>
                <div class="small-6 medium-6 large-6 columns"><div style="visibility: hidden">{{ sensor.room_key.name }}</div>
                    <div class="panel" style="padding-top: 10px; padding-bottom: 3px;">
                        <div class="row collapse">
                            <div class="small-9 columns">
                                <input onchange="send();" id="dht{{ sensor.id }}" value="{{ sensor.temperature }}" type="number" name="dht{{ sensor.id }}" placeholder="Температура">
                            </div>
                            <div class="small-3 medium-3 large-3 columns">
                                <span class="postfix">&deg;C</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if main_floor %}
        <div class="row">
        {% for sensor in main_floor %}
            <input form="floor-form1" id="f1{{ forloop.counter }}" type="hidden" name="fl1{{ sensor.id }}" value="0">
            <div class="panel">
                {% if sensor.status == 0 %}
                    <div class="small-5 medium-4 large-3 columns">
                        <a onclick="send3({{ forloop.counter }}, '1')"><img height="70px" width="70px" src="{% static 'main/images/on_off-yellow.png' %}"></a>
                        <a><img height="70px" width="70px" src="{% static 'main/images/off_on-red (1).png' %}"></a>
                    </div>
                    <div style="padding-top: 12px; padding-bottom: 3px;">
                        <div class="row collapse">
                            <div class="small-4 medium-5 large-6 columns">
                                <span class="postfix">Сейчас {{ sensor.temperature }} &deg;C</span>
                            </div>
                        </div>
                    </div>
                {% elif sensor.status == 1 %}
                    <div class="small-5 medium-4 large-3 columns">
                        <a><img height="70px" width="70px" src="{% static 'main/images/on_on-yellow.png' %}"></a>
                        <a onclick="send3({{ forloop.counter }}, '0')"><img height="70px" width="70px" src="{% static 'main/images/off_off-red.png' %}"></a>
                    </div>
                    <div>
                        Тёплый пол ({{ sensor.room_key.name }})
                        <div class="row collapse">

                            <div class="small-3 columns">
                                <input oninput="send();" id="fl2{{ sensor.id }}" value="{{ sensor.temperature_new }}" type="number" name="fl2{{ sensor.id }}" placeholder="Температура">
                            </div>
                            <div style="float: left;" class="small-4 columns">
                                <span class="postfix"><span style="float: left; margin-left: 4px;">Сейчас {{ sensor.temperature }} &deg;C</span><span style="margin-right: 6px; float: right; font-size: 50px;"><span onclick="plus('{{ sensor.id }}')" class="plus-minus">+</span> <span style="font-size: 50px;">|</span> <span onclick="minus('{{ sensor.id }}')" class="plus-minus">&minus;</span></span></span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if data_sensors %}
        <div class="row">
            {% for sensor in data_sensors %}
                <div class="small-12 medium-6 large-4 columns">
                    <div class="panel" style="padding-top: 10px; padding-bottom: 3px;">
                        <p>Загазованность: {{ sensor.gas_sensor }}</p>
                        <p>Освещенность: {{ sensor.foto_light }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if light %}
        <div class="row">
            {% for sensor in light %}
                <div class="small-12 medium-6 large-4 columns">
                    <div style="padding-top: 10px; padding-bottom: 3px;">
                        <h3>{{ sensor.pindescription }}</h3>
                        <input form="button-form" id="h{{ forloop.counter }}" type="hidden" name="lht{{ sensor.id }}" value="0">
                        {% if sensor.pinstatusweb == '0' %}
                            <a onclick="send2({{ forloop.counter }}, '2')"><img height="70px" width="70px" src="{% static 'main/images/on_off-yellow.png' %}"></a>
                            <a onclick="send2({{ forloop.counter }}, '1')"><img height="55px" width="60px" src="{% static 'main/images/button-off.png' %}"></a>
                            <a><img height="70px" width="70px" src="{% static 'main/images/off_on-red (1).png' %}"></a>
                        {% elif sensor.pinstatusweb == '1' %}
                            <a onclick="send2({{ forloop.counter }}, '2')"><img height="70px" width="70px" src="{% static 'main/images/on_off-yellow.png' %}"></a>
                            {% if sensor.status == "on" %}
                                <a><img style="margin-bottom: 4px" height="60px" width="60px" src="{% static 'main/images/button-on.png' %}"></a>
                            {% else %}
                                <a><img style="margin-bottom: 2px" height="55px" width="60px" src="{% static 'main/images/button-off-1.png' %}"></a>
                            {% endif %}
                            <a onclick="send2({{ forloop.counter }}, '0')"><img height="70px" width="70px" src="{% static 'main/images/off_off-red.png' %}"></a>
                        {% else %}
                            <a><img height="70px" width="70px" src="{% static 'main/images/on_on-yellow.png' %}"></a>
                            <a onclick="send2({{ forloop.counter }}, '1')"><img height="55px" width="60px" src="{% static 'main/images/button-off.png' %}"></a>
                            <a onclick="send2({{ forloop.counter }}, '0')"><img height="70px" width="70px" src="{% static 'main/images/off_off-red.png' %}"></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <input type="hidden" value="Применить изменения">
    </form>

    {% if active_scenarios or inactive_scenarios %}
    <div class="row" style="text-align: center">
        {% for scenario in active_scenarios %}
            <div>
                <span style="font-size: 25px;">{{ scenario.name }}&nbsp;</span><input onclick="change({{ scenario.id }})" name="scenario{{ forloop.counter }}" type="radio" checked>
            </div>
        {% endfor %}
        {% for scenario in inactive_scenarios %}
            <div>
                <span style="font-size: 25px;">{{ scenario.name }}&nbsp;</span><input onclick="change({{ scenario.id }})" name="scenario{{ forloop.counter }}" type="radio">
            </div>
        {% endfor %}
    </div>

    {% endif %}
