{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
    <script src="{% static 'main/js/notifications.js' %}"></script>
{% endblock %}
{% block page_name %}Оповещения{% endblock %}
{% block content %}
    <div class="row">
    {% for notification in all_notifications %}
        {% if notification.type == 'light' %}
            <div class="large-4 medium-6 small-12 columns">
                <div class="alert-box warning round" data-alert="">
                    В комнате {{ notification.text }} был выключен свет. ({{ notification.date_time }})
                    <a onclick="del({{ notification.id }})" class="close" href="#">×</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
    <form id="delete-form" action="{% url 'notifications' %}" method="POST">
        {% csrf_token %}
        <input id="scenario_id" name="scenario_id" type="hidden" value="0">
    </form>
    <script src="{% static 'main/js/foundation/foundation.alert.js' %}"></script>
{% endblock %}
