{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
    <script src="{% static 'main/js/ajax.js' %}"></script>
{% endblock %}
{% block page_name %}{{ current_room }}{% endblock %}
{% block content %}
    <div id="ajax_data">
        {% include "room_ajax.html" %}
    </div>
    <form id="button-form" action="{% url 'room_detail' current_room.id %}" method="post">
        {% csrf_token %}
    </form>
    <form id="floor-form1" action="{% url 'room_detail' current_room.id %}" method="post">
        {% csrf_token %}
    </form>


{% endblock %}