{% extends "base.html" %}
{% load staticfiles %}
{% block head %}<script src="{% static 'main/js/scenarios.js' %}"></script>{% endblock %}
{% block page_name %}Сценарии{% endblock %}
{% block content %}
    <div class="row">
        <div class="panel">
        <form name="scenarioForm" action="{% url 'scenarios' %}" method="POST">
            {% csrf_token %}
            <div class="row" style="margin-left: 4px; margin-right: 4px;">
                <div class="large-6 medium-6 small-8 columns">
                    <label>Имя для сценария<input name="scenario_name" type="text"></label>
                </div>
            </div>
            <div class="row" style="margin-left: 4px; margin-right: 4px;">
                    <div class="large-6 medium-6 small-12 columns">
                            <label style="margin-bottom: 5px; color:darkred;">Выберите условия для сценария:
                                <select style="margin-bottom: 3px;" name="cnd">
                                    <option selected disabled>Выберите условие</option>
                                {% for condition in conditions %}
                                    <option onclick="click_condition()" value="{{ condition.id }}">{{ condition.interface_text }}</option>
                                {% endfor %}
                                </select>
                            </label>
                                <select id="room_condition" style="display: none;" name="room_condition">
                                    <option selected disabled>Выберите комнату</option>
                                {% for room in rooms %}
                                    <option value="{{ room.id }}">{{ room.name }}</option>
                                {% endfor %}
                                </select>
                    </div>
                    <div class="large-6 medium-6 small-12 columns">
                            <label style="margin-bottom:5px; color:darkred;">Выберите действия сценария:
                                <select style="margin-bottom: 3px;" name="act">
                                    <option selected disabled>Выберите действие</option>
                                {% for  action in actions %}
                                    <option value="{{ action.id }}">{{ action.interface_text }}</option>
                                {% endfor %}
                                </select>
                            </label>
                    </div>
            </div>
            <div class="row">
                <div class="large-4 medium-6 small-12 columns" style="margin-left: 18px;">
                    <label><input name="is_active" type="radio">  Активировать сразу?</label>
                </div>
            </div>
            <div class="row">
                <div class="large-4 medium-6 small-11 columns" style="margin-left: 18px; float: left;">
                   <input name="timer" type="number" placeholder="Задержка выполнения">
                </div>
            </div>

            <div class="row" style="margin-top: 10px; margin-left: 15px;">
                <div style="background-color: #333333" role="button" onclick="submit_form()" tabindex="0" class="button tiny">Добавить сценарий</div>
            </div>
        </form>
        </div>
    </div>
    <div class="row" style="text-align: center">
        {% for scenario in active_scenarios %}
            <div>
                <span style="font-size: 25px;">{{ scenario.name }}&nbsp;</span><input onclick="change({{ scenario.id }})" name="scenario{{ forloop.counter }}" type="checkbox" checked>
                <a onclick="delete_scenario({{ scenario.id }})">&nbsp;&nbsp;&nbsp;Удалить</a>
            </div>
        {% endfor %}
        {% for scenario in inactive_scenarios %}
            <div>
                <span style="font-size: 25px;">{{ scenario.name }}&nbsp;</span><input onclick="change({{ scenario.id }})" name="scenario{{ forloop.counter }}" type="checkbox">
                <a onclick="delete_scenario({{ scenario.id }})">&nbsp;&nbsp;&nbsp;Удалить</a>
            </div>
        {% endfor %}
    </div>
    <form name="changeForm" action="{% url 'scenarios' %}" method="POST">
        {% csrf_token %}
        <input id="scenario_change" type="hidden" name="scenario_change" value="">
    </form>
    <form id="deleteScenarioForm" action="{% url 'scenario_delete' %}" method="POST">
    {% csrf_token %}
    <input id="delete_scenario" type="hidden" value="" name="delete">
</form>

{% endblock %}