{% extends "base.html" %}
{% load staticfiles %}
{% block head %}<script src="{% static 'main/js/settings_index.js' %}"></script>{% endblock %}
{% block page_name %}Настройки. Главная{% endblock %}
{% block content %}
    <div>
        <div class="row">
            {% if graphic_objects %}
                <div style="float: left;" class="large-6 medium-6 small-12 columns">
                    <label style="font-size: 24px">Графики</label>
                    {% for graphic in graphic_objects %}
                        <label>
                            {{ graphic.name }}
                            {% if graphic.on_the_main %}
                                <input onclick="to_main({{ graphic.id }}, 'graph')" type="checkbox" checked>
                            {% else %}
                                <input onclick="to_main({{ graphic.id }}, 'graph')" type="checkbox">
                            {% endif %}
                        </label>
                    {% endfor %}
                </div>
            {% endif %}
            {% if light_sensors %}
                <div style="float: left;" class="large-6 medium-6 small-12 columns">
                    <label style="font-size: 24px">Свет</label>
                    {% for light in light_sensors %}
                        <label>
                            {{ light.room_key.name }} : {{ light.pindescription }}
                            {% if light.on_the_main %}
                                <input onclick="to_main({{ light.id }}, 'light')" type="checkbox" checked>
                            {% else %}
                                <input onclick="to_main({{ light.id }}, 'light')" type="checkbox">
                            {% endif %}
                        </label>
                    {% endfor %}
                </div>
            {% endif %}
            {% if all_scenarios %}
                <div style="float: left;" class="large-6 medium-6 small-12 columns">
                    <label style="font-size: 24px">Cценарии</label>
                    {% for scenario in all_scenarios %}
                        <label>
                            {{ scenario.name }}
                            {% if scenario.on_the_main %}
                                <input onclick="to_main({{ scenario.id }}, 'scenario')" type="checkbox" checked>
                            {% else %}
                                <input onclick="to_main({{ scenario.id }}, 'scenario')" type="checkbox">
                            {% endif %}
                        </label>
                    {% endfor %}
                </div>
            {% endif %}
            {% if all_floor %}
                <div style="float: left;" class="large-6 medium-6 small-12 columns">
                    <label style="font-size: 24px">Теплый пол</label>
                    {% for floor in all_floor %}
                        <label>
                            {{ floor.room_key.name }}
                            {% if floor.on_the_main %}
                                <input onclick="to_main({{ floor.id }}, 'floor')" type="checkbox" checked>
                            {% else %}
                                <input onclick="to_main({{ floor.id }}, 'floor')" type="checkbox">
                            {% endif %}
                        </label>
                    {% endfor %}
                </div>
            {% endif %}
            {% if data_sensors %}
                <div style="float: left;" class="large-6 medium-6 small-12 columns">
                    <label style="font-size: 24px">Загазовонность и освещенность</label>
                    {% for data_sensor in data_sensors %}
                        <label>
                            {{ data_sensor.room_key.name }} : {{ data_sensor.information }}
                            {% if data_sensor.on_the_main %}
                                <input onclick="to_main({{ data_sensor.id }}, 'data_sensor')" type="checkbox" checked>
                            {% else %}
                                <input onclick="to_main({{ data_sensor.id }}, 'data_sensor')" type="checkbox">
                            {% endif %}
                        </label>
                    {% endfor %}
                </div>
            {% endif %}
            {% if all_dht %}
                <div style="float: left;" class="large-6 medium-6 small-12 columns">
                    <label style="font-size: 24px">Температура и влажность</label>
                    {% for dht in all_dht %}
                        <label>
                            {{ dht.room_key.name }} : {{ dht.description }}
                            {% if dht.on_the_main %}
                                <input onclick="to_main({{ dht.id }}, 'dht')" type="checkbox" checked>
                            {% else %}
                                <input onclick="to_main({{ dht.id }}, 'dht')" type="checkbox">
                            {% endif %}
                        </label>
                    {% endfor %}
                </div>
            {% endif %}
            {% if all_widgets %}
                <div style="float: left;" class="large-6 medium-6 small-12 columns">
                    <label style="font-size: 24px">Другое</label>
                    {% for widget in all_widgets %}
                        <label>
                            {{ widget.interface_text }}
                            {% if widget.on_the_main %}
                                <input onclick="to_main({{ widget.id }}, 'widget')" type="checkbox" checked>
                            {% else %}
                                <input onclick="to_main({{ widget.id }}, 'widget')" type="checkbox">
                            {% endif %}
                        </label>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <form id="settingsForm" action="{% url 'settings_index' %}" method="POST">
        {% csrf_token %}
        <input id="to_post" type="hidden" name="" value="">
    </form>
{% endblock %}